.button {
    outline: none;
    background-color: #59a5a6;
    border: 1px solid #59a5a6;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.button:hover {
    cursor: pointer;
    background-color: #007577;
    border: 1px solid #007577;
}

.button:active {
    background-color: #59a5a6;
    border: 1px solid #59a5a6;
}