.dialogs {
    display: flex;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    border: 2px solid gold;
}

.dialog {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.dialog a {
    text-decoration: none;
    color: black;
}

.dialog .active {
    border: none;
    text-decoration: none;
    color: gold;
}

.messages {
    padding: 10px;
    margin: 15px;
    border-left: 2px solid black;
}

.message {
    background-color: aqua;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    position: relative;
}

.message::after {
    content: ''; 
    position: absolute;
    left: 0; bottom: -16px;
    border: 5px solid transparent;
    border-top: 10px solid black;
}